svg, use { pointer-events: none; }
ul { padding-left: 0; }

.align-center { align-items: center; }
.flex { display: flex; gap: var(--pico-spacing); }
.flex-inline { display: inline-flex; gap: var(--pico-spacing); }
.flex-grow { flex: 1; }
.float-left { float: left; }
.hide { display: none; }
.show-hover-parent .show-hover { display:none; }
.show-hover-parent:hover .show-hover { display: unset; }
.space-between { justify-content: space-between; }
.pointer { cursor: pointer; }
