{% extends 'base.html' %}
{% block title %}Groc.txt{% endblock %}
{% block content %}
<header class="container flex space-between align-center align-left-sm flex-column-lg">
	<h1 id="title" class="flex align-center gap-xs">
		<a id="logo" class="contrast"
			href="/">
			<svg width="1.6em" height="1.6em">
				<use xlink:href="#icon-logo"/>
			</svg>
		</a>
		<a class="show-sm contrast pointer hide" onclick="toggleAside()">
			<svg width="1em" height="1em">
				<use xlink:href="#icon-menu"/>
			</svg>
		</a>
		<span>Groc.txt</span>
		<a class="ml-xs" href="/logout"><svg width="1em" height="1em">
			<use xlink:href="#icon-logout"/></svg>
		</a>
	</h1>
	<div class="flex align-center width-100-sm">
		<div class="max-width-xs" role="search">
			<input type="search" id="search" placeholder="Search">
		</div>
		<details id="dot-menu" class="dropdown">
			<summary><svg width="1.6em" height="1.6em"><use xlink:href="#icon-menu-dot"/></svg></summary>
			<ul dir="rtl">
				<li class="min-width-xxs">
					<a class="pointer flex align-center space-between"
						onclick="openSettings()"
						dir="ltr">
						<span>Settings</span><svg width="1em" height="1em"><use xlink:href="#icon-gear"/></svg>
					</a>
				</li>
				<li class="min-width-xxs">
					<a class="pointer flex align-center space-between gap-xs"
						dir="ltr">
						<!-- data-target="settings-modal" -->
						<!-- onclick="toggleModal(event)"> -->
						Delete All<svg width="1em" height="1em"><use xlink:href="#icon-trash"/></svg>
					</a>
				</li>
			</ul>
		</details>
	</div>
</header>
<main class="container">
	<section class="overflow-auto">
		<div class="horizontal-scroll">
			<button class="flex-inline align-center sort-btn"
				data-sort="description"
				onclick="sortTasks(event)">
				Description
				<svg width="1em" height="1em">
					<use xlink:href="#icon-caret-down-fill"/>
				</svg>
			</button>
			<button class="flex-inline align-center outline sort-btn"
				data-sort="priority"
				onclick="sortTasks(event)">
				Priority
				<svg width="1em" height="1em">
					<use xlink:href="#icon-caret-down"/>
				</svg>
			</button>
			<button id="complete-toggle"
				class="flex-inline align-center outline"
				onclick="toggleComplete(!filterComplete)">
				Completed
				<svg width="1em" height="1em">
					<use xlink:href="#icon-eye"/>
				</svg>
			</button>
			<button id="projects-btn"
				class="flex-inline align-center outline"
				onclick="toggleModal(event)" data-target="projects-modal">
				Projects
				<svg width="1em" height="1em">
					<use xlink:href="#icon-rocket"/>
				</svg>
			</button>
			<button id="contexts-btn"
				class="flex-inline align-center outline"
				onclick="toggleModal(event)" data-target="contexts-modal">
				Contexts
				<svg width="1em" height="1em">
					<use xlink:href="#icon-at"/>
				</svg>
			</button>
		</div>
	</section>
	<section>
		<a id="show-all"
			class="secondary hide pointer"
			onclick="clearFilters()">
			Show All
		</a>
	</section>
	<div class="content flex">
		<aside class="width-xs">
			<article>
				<nav>
					<a id="menu-close"
						class="show-sm float-right pointer secondary"
						onclick="toggleAside()">
						<svg width="1em" height="1em">
							<use xlink:href="#icon-x"/>
						</svg>
					</a>
					<h6>Lists</h6>
					<hr>
					<ul>
						<li><a class="contrast"
							href="#tasks"
							onclick="openList('tasks'); toggleAside();">
							Tasks</a>
						</li>
					</ul>
				</nav>
			</article>
		</aside>
		<div class="flex-1">
			<div id="tasks">
				<section class="flex align-center">
					<h3 class="mb-0">Tasks</h3>
					<button id="add-task-btn"
						class="border-round"
						onclick="toggleModal(event)"
						data-target="add-task-modal">
						<svg width="1em" height="1em"><use xlink:href="#icon-add"/></svg>
					</button>
				</section>
				<section>
					<ul></ul>
				</section>
			</div>
		</div>
	</div>
</main>
{% include 'modals.html' %}
{% endblock %}
