<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" type="image/png" href="/static/images/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg" />
	<link rel="shortcut icon" href="/static/images/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="Groc.txt" />
	<link rel="manifest" href="/static/images/site.webmanifest" />
	<title>Groc.txt</title>
	<link rel="stylesheet" href="/static/pico.min.css">
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
	<main>
		<article class="max-width-xs centered-card">
			<header><h1>Login</h1></header>
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<p class="error">{{ message }}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<form method="POST" action="{{ url_for('login') }}">
				<fieldset>
				<input type="hidden" name="next" value="{{ next }}">
				<label for="username">Username
					<input type="text" id="username" name="username" placeholder="Username" required />
				</label>
				<label for="password">Password
					<input type="password" id="password" name="password" placeholder="Password" required>
				</label>
				</fieldset>
				<input type="submit" value="Login" />
			</form>
		</article>
	</main>
</body>
</html>
