
<dialog id="edit-modal">
	<article>
		<header>
			<button aria-label="Close"
				rel="prev"
				data-target="edit-modal"
				onclick="toggleModal(event)">
			</button>
			<h3 id="edit-title">Edit Task</h3>
		</header>
		<p id="edit-error" class="error hide">There was an error updating the task.</p>
		<form id="edit-form">
			<fieldset>
				<input type="hidden" id="edit-id" value="" />
				<label class="position-relative">Task
					<input class="modal-focus"
						type="text"
						id="edit-description"
						placeholder="Task description (e.g., Milk)"
						autocomplete="off"
						required />
					<ul class="hide" id="autocomplete"></ul>
				</label>
				<p id="edit-projects">Projects: <i class="color-secondary">None</i><span></span></p>
				<p id="edit-contexts">Contexts: <i class="color-secondary">None</i><span></span></p>
				<label>Priority</label>
				<select id="edit-priority" aria-label="Priority">
					<option id="edit-priority-default" selected value="--">--</option>
					{% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
					<option value="{{ letter }}">{{ letter }}</option>
					{% endfor %}
				</select>
				<label>
					<input type="checkbox" id="edit-complete"
						role="switch" />
					Completed
				</label>
			</fieldset>
		</form>
		<footer>
			<button id="edit-delete"
				class="float-left"
				data-id=""
				onclick="deleteTask(event)">
				<svg width="1em" height="1em">
					<use xlink:href="#icon-trash"/>
				</svg>
			</button>
			<button class="secondary"
				data-target="edit-modal"
				onclick="toggleModal(event)">
				Cancel
			</button>
			<button id="edit-submit" form="edit-form">Save</button>
		</footer>
	</article>
</dialog>
<dialog id="projects-modal">
	<article>
		<header>
			<button aria-label="Close"
				rel="prev"
				data-target="projects-modal"
				onclick="filterAttribute(event); toggleModal(event);">
			</button>
			<h3>Projects</h3>
		</header>
		<ul></ul>
		<footer>
			<button class="secondary"
				data-target="projects-modal"
				data-attribute="projects"
				onclick="clearAttributeInputs(event);
					filterAttribute(event);
					toggleModal(event);">
				Clear
			</button>
			<button data-target="projects-modal"
				onclick="filterAttribute(event); toggleModal(event);">
				Close
			</button>
		</footer>
	</article>
</dialog>
<dialog id="contexts-modal">
	<article>
		<header>
			<button aria-label="Close"
				rel="prev"
				data-target="contexts-modal"
				onclick="filterAttribute(event); toggleModal(event);">
			</button>
			<h3>Contexts</h3>
		</header>
		<ul></ul>
		<footer>
			<button class="secondary"
				data-target="contexts-modal"
				data-attribute="contexts"
				onclick="clearAttributeInputs(event);
					filterAttribute(event);
					toggleModal(event);">
				Clear
			</button>
			<button data-target="contexts-modal"
				onclick="filterAttribute(event); toggleModal(event);">
				Close
			</button>
		</footer>
	</article>
</dialog>
<dialog id="settings-modal">
	<article>
		<header>
			<button aria-label="Close"
				rel="prev"
				data-target="settings-modal"
				onclick="toggleModal(event)">
			</button>
			<h3>Settings</h3>
		</header>
		<form id="settings-form">
			<p id="settings-error" class="error" style="dislay: none;"></p>
			<h5>General Settings</h5>
			<hr>
			<fieldset>
				<label>
					<input type="checkbox" id="settings-sort-complete"
						role="switch"/>
					Show completed tasks at the bottom
				</label>
			</fieldset>
			<h5>Custom Project Lists</h5>
			<hr>
			<div id="settings-lists"></div>
			<button id="settings-lists-add" type="button" onclick="addSettingsList(event)">Add List</button>
		</form>
		<footer>
			<button class="secondary"
				data-target="settings-modal"
				onclick="toggleModal(event)">
				Cancel
			</button>
			<button form="settings-form">Save</button>
		</footer>
	</article>
</dialog>
<dialog id="delete-modal">
	<article>
		<header>
			<button aria-label="Close"
				rel="prev"
				data-target="delete-modal"
				onclick="toggleModal(event)">
			</button>
			<h3>Delete Done</h3>
		</header>
		<form id="delete-form">
			<p id="delete-error" class="error" style="dislay: none;"></p>
			<fieldset id="delete-lists"></fieldset>
		</form>
		<footer>
			<button class="secondary"
				data-target="delete-modal"
				onclick="toggleModal(event)">
				Cancel
			</button>
			<button class="danger"
				form="delete-form">
				Delete
			</button>
		</footer>
	</article>
</dialog>
